p {
    padding: 0;
    margin: 0;
    word-wrap: break-word;
}

h1 {
    margin: 0;
    font-size: 35px;
    font-weight: 700;
    width: 20%;
}

form {
    gap: 10px;
    width: 100%;
    display: flex;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    width: 80%;
}

.nav-item {
    font-size: 20px;
    text-decoration: none;
}

.chat-heading {
    top: 0;
    gap: 20px;
    width: 100%;
    display: flex;
    position: fixed;
    padding: 10px 60px;
    align-items: center;
    background-color: #212529;
}

#messages {
    min-height: 100%;
    padding: 70px 20px;
    text-align: justify;
    background-size: 34px 34px;
    background-color: #0e0e0e;
    background-image: radial-gradient(#2e2e2e 1.7000000000000002px, #0e0e0e 1.7000000000000002px);
}

.message-input {
    bottom: 0;
    width: 100%;
    position : fixed;
    background-color: #212529;
    padding: 5px 10px 10px 10px;
}
.form-control {
    border: none;
    color: #F9F9F9;
    background-color: #212529;
}
.form-control:focus {
    border: none;
    color: #F9F9F9;
    box-shadow: none;
    background-color: #212529;
}

.message-container {
    display: flex;
    margin-bottom: 20px;
    flex-direction: row-reverse;
}
.message {
    gap: 10px;
    padding: 10px;
    display: flex;
    max-width: 40%;
    border-radius: 10px;
    flex-direction: column;
    background-color: #212529;
}
.message-header {
    gap: 10px;
    display: flex;
    align-items: center;
}
.message-header img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
.message-header p {
   font-size: 14px;
   font-weight: 700;
}
.sent-at {
    font-size: 10px;
    text-align: right;
}


/* Media queries */
@media only screen and (max-width: 1000px) {
    h1 {
        width: 50%;
    }
    nav {
        width: 50%;
    }
    .message {    
         max-width: 60%; 
    }
}
@media only screen and (max-width: 500px){
    .chat-heading {
        padding: 10px;
    }
    .message {    
            max-width: 80%; 
    }
    nav {
        gap: 20px;
    }
}