p {
    font-size: 1rem;
    margin: 20px;
}

h1 {
    font-size: 2.3rem;
}

img {
    width: 25px;
}

form {
    gap: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 350px;
}

.app-brand {
    font-size: 3rem;
    font-weight: 900;
    margin: 30px 50px 50px 50px;
    font-family: 'Righteous', cursive;
}

.btn {
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media only screen and (max-width: 370px) {
    .app-brand {
        margin: 30px 10px;
    }
    form{
        width: 250px;
    };
}
