nav {
    gap: 40px;
    width: 100%;
    display: flex;
    padding: 20px 80px;
    align-items: center;
    background-color: #212529;
    flex-direction: row-reverse;
}
nav a {
    text-decoration: none;
    font-size: 20px;
}

h1 {
    margin: 30px;
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
}

section {
    width: 300px;
    display: flex;
    flex-direction: column;
}


.user-info-segment {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

#account-info{
    margin: 50px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#text-section {
    display: flex;
    justify-content: center;
}

#visual-section {
    width: 250px;
    gap: 10px;
}


@media only screen and (max-width: 700px) {
    #account-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    nav {
        padding: 20px 0 ;
        justify-content: space-around; 
    }
}
@media only screen and (max-width: 350px) {
    section{
        width: 250px;
    }
    nav {
        padding: 20px 0 ;
        justify-content: space-around; 
    }
}

